*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color-gray {
  color: #777;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 32px 0px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-left {
  display: flex;
  justify-content: left;
  align-items: left;
}

.flex-right {
  display: flex;
  justify-content: right;
  align-items: right;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-item-auto {
  flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-15 {
  width: 15%;
}

.hidden {
  overflow: hidden;
}

.hero p {
  font-size: 18px;
  color: #333333;
}
@media screen and (max-width: 960px) {
  .hero {
    height: auto;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .hero {
    max-width: 1140px;
  }
}

.works,
.skills,
.contact {
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .works,
  .skills,
  .contact {
    max-width: 1140px;
    padding: 20px;
  }
}
@media screen and (max-width: 960px) {
  .works,
  .skills,
  .contact {
    max-width: 540px;
    padding: 20px;
  }
}

.works {
  height: auto;
}
@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .works {
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .works {
    height: auto;
    flex-wrap: wrap;
  }
}

.projects {
  gap: 15px;
}
.projects img {
  border-radius: 20px;
}
@media screen and (max-width: 960px) {
  .projects {
    flex-wrap: wrap;
  }
}

.skills-items {
  gap: 50px;
  flex-wrap: wrap;
}
.skills-items .flex-item-4 {
  flex: 4 1 160px;
}
@media screen and (max-width: 960px) {
  .skills-items {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .skills-items {
    flex-wrap: wrap;
  }
}

.social {
  gap: 60px;
}

.list-item {
  list-style: none;
  position: relative;
  align-items: center;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mx-1 {
  margin-right: 8px;
  margin-left: 8px;
}

.mx-2 {
  margin-right: 16px;
  margin-left: 16px;
}

.mx-3 {
  margin-right: 48px;
  margin-left: 48px;
}

.mx-4 {
  margin-right: 72px;
  margin-left: 72px;
}

.mx-5 {
  margin-right: 128px;
  margin-left: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.px-1 {
  padding-right: 8px;
  padding-left: 8px;
}

.px-2 {
  padding-right: 16px;
  padding-left: 16px;
}

.px-3 {
  padding-right: 48px;
  padding-left: 48px;
}

.px-4 {
  padding-right: 72px;
  padding-left: 72px;
}

.px-5 {
  padding-right: 128px;
  padding-left: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}

h1 {
  color: #1A1A1A;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 64px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h2 {
  color: #1A1A1A;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 52px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h3 {
  color: #1A1A1A;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 36px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #1A1A1A;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  text-transform: uppercase;
  font-weight: 600;
  color: #B3B3B3;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 22px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

p {
  color: #666666;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.bold {
  font-weight: bold;
  color: #333333;
}

strong {
  color: #4D4D4D;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  strong {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 14px;
    line-height: 150%;
  }
}

.text-center {
  text-align: center;
}

.community p {
  font-family: "Barlow Condensed", sans-serif;
}
@media screen and (max-width: 960px) {
  .community p {
    font-family: "Barlow Condensed", sans-serif;
  }
}

.logo {
  font-size: 30px;
}

.navbar-desktop-item-2 a {
  font-size: 20px;
}

a {
  font-family: "Barlow Condensed", sans-serif;
  text-decoration: none;
  color: #1A1A1A;
  transition: 0.5s ease;
}
a:hover {
  opacity: 0.7;
}

.btn {
  background-color: #4E7896;
  border-radius: 10px;
  padding: 12px 20px;
  color: #FBF8FC;
  transition: 0.5s ease;
}
.btn:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 13px #C9E8FF;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #CEC1B8;
}

svg, img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

.div-card {
  perspective: 500px;
  position: relative;
}

.card {
  width: 340px;
  height: 217.6px;
  border-radius: 12px;
  transform-origin: center center;
  transform-style: preserve-3d;
  animation: change-bg-card 12s linear infinite alternate, flip-card 12s linear infinite alternate;
}

.card-corp {
  width: 340px;
  height: 217.6px;
  border-radius: 12px;
  transform-origin: center center;
  transform-style: preserve-3d;
  animation: change-bg-card-corp 12s linear infinite alternate, flip-card 12s linear infinite alternate;
}

@keyframes flip-card {
  0% {
    transform: rotateX(-10deg) rotateY(-15deg);
  }
  40% {
    transform: rotateX(0deg) rotateY(20deg);
  }
  60% {
    transform: rotateX(180deg) rotateY(20deg);
  }
  100% {
    transform: rotateX(190deg) rotateY(15deg);
  }
}
@keyframes change-bg-card {
  0%, 49% {
    background-image: url("../svg/skybank-front.svg");
    background-size: cover;
  }
  50%, 100% {
    background-image: url("../svg/skybank-verse.svg");
    transform: scaleX(-1);
    background-size: cover;
  }
}
@keyframes change-bg-card-corp {
  0%, 49% {
    background-image: url("../svg/corp-card-front.svg");
    background-size: cover;
  }
  50%, 100% {
    background-image: url("../svg/corp-card-verse.svg");
    transform: scaleX(-1);
    background-size: cover;
  }
}
.icon-card-hero {
  position: absolute;
  top: 0px;
  left: 400px;
  z-index: 200;
  width: 80px;
  height: 80px;
  animation: icons-hero 7s ease 0.5s infinite alternate;
}
@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .icon-card-hero {
    top: 10px;
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 960px) {
  .icon-card-hero {
    top: 20px;
    left: 300px;
  }
}

.icon-mobile-hero {
  position: absolute;
  top: 150px;
  z-index: 200;
  left: 150px;
  width: 80px;
  height: 80px;
  animation: icons-hero 7s ease 1s infinite alternate;
}
@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .icon-mobile-hero {
    top: 150px;
    left: 80px;
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 960px) {
  .icon-mobile-hero {
    top: 80px;
    left: -50px;
  }
}

.icon-contactless-hero {
  position: absolute;
  top: 350px;
  z-index: 200;
  left: 400px;
  width: 80px;
  height: 80px;
  animation: icons-hero 7s ease 2.5s infinite alternate;
}
@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .icon-contactless-hero {
    top: 300px;
    left: 360px;
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 960px) {
  .icon-contactless-hero {
    top: 300px;
    left: 160px;
  }
}

@keyframes icons-hero {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(10px, -40px, 0);
  }
}
.people1 {
  opacity: 0;
  animation: people 10s ease 0s infinite;
}

.people2 {
  opacity: 0;
  animation: people 10s ease 5s infinite;
}

.people3 {
  opacity: 0;
  animation: people 10s ease 2s infinite;
}

.people4 {
  opacity: 0;
  animation: people 10s ease 7s infinite;
}

.people5 {
  opacity: 0;
  animation: people 10s ease 3s infinite;
}

.people6 {
  opacity: 0;
  animation: people 10s ease 8s infinite;
}

@media screen and (max-width: 960px) {
  .people-2 {
    display: none;
  }
}

@keyframes people {
  0% {
    opacity: 0;
  }
  20%, 50% {
    opacity: 1;
  }
  70%, 100% {
    opacity: 0;
  }
}
.slider h4 {
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(1500px, 0, 0); /* The image width */
  }
}
.dropshadow {
  filter: drop-shadow(0px 12px 22px rgba(93, 84, 173, 0.25));
}

.icon-check::after {
  background-image: url("../../svg/icon-list.svg");
  background-size: cover;
  width: 40px;
  height: 40px;
  transition: 0.5 ease;
  cursor: pointer;
  filter: drop-shadow(0px 12px 22px rgba(93, 84, 173, 0.25));
}
.icon-check:hover::after {
  transform: scale(1.05);
}
@media screen and (max-width: 960px) {
  .icon-check::after {
    top: 8px;
  }
}

header {
  width: 100%;
  background-color: transparent;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: 0.5s ease;
  z-index: 800;
  height: 72px;
  position: fixed;
}

.active-header {
  background-color: #CEC1B8;
  box-shadow: 0px 51px 180px rgba(104, 104, 104, 0.25), 0px 15.375px 24.1177px rgba(126, 125, 125, 0.25), 0px 6.38599px 10.0172px rgba(78, 78, 78, 0.25), 0px 2.30969px 3.62304px rgba(138, 138, 138, 0.25);
  height: 80px;
}

.navbar-desktop {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .navbar-desktop {
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  width: 70px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.navbar-desktop-item-1 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-desktop-item-2 {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-desktop-item-2 a:hover {
  border-bottom: 2px solid #1A1A1A;
  transition: ease-in;
}

.menu-desktop {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 960px) {
  .menu-desktop {
    display: none;
  }
}
.menu-desktop li {
  margin-left: 16px;
}

.menu-item {
  position: relative;
}

.nav-link-desktop {
  display: inline-block;
  padding: 12px 16px;
  position: relative;
}
.nav-link-desktop::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  top: 42%;
  right: -3px;
  border-bottom: 2px solid #7FB4DA;
  border-right: 2px solid #7FB4DA;
  border-radius: 1px;
  transition: 0.2s linear;
  transform: rotate(45deg);
}
.nav-link-desktop:hover::after {
  top: 45%;
}

.dropdown-menu {
  background-color: #F5FBFF;
  border-radius: 16px;
  box-shadow: 0px 38px 15px rgba(55, 28, 64, 0.01), 0px 21px 13px rgba(55, 28, 64, 0.05), 0px 10px 9px rgba(55, 28, 64, 0.09), 0px 2px 5px rgba(55, 28, 64, 0.1), 0px 0px 0px rgba(55, 28, 64, 0.1);
  list-style: none;
  position: absolute;
  top: 48px;
  left: 24px;
  padding: 16px 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  transition: 0.7s ease;
  opacity: 0;
  pointer-events: none;
}
.dropdown-menu .dropdown-item {
  width: 100%;
}

.active-dropdown-menu {
  pointer-events: all;
  opacity: 1;
}

.nav-link-dropdown {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  position: relative;
}
.nav-link-dropdown::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  transition: 0.5s ease;
  width: 0%;
  height: 2px;
  background-color: #90C0E2;
}
.nav-link-dropdown:hover::after {
  width: 100%;
}

.navbar-mobile {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: none;
}
@media screen and (max-width: 960px) {
  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
  transition: 0.7s ease;
  background-color: transparent;
}
.bx::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  top: 40%;
  left: 15%;
  background-color: #1A1A1A;
}
.bx::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  top: 60%;
  left: 15%;
  background-color: #1A1A1A;
}

.active-bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 800;
  transition: 0.7s ease;
  background-color: transparent;
}
.active-bx::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  top: 50%;
  left: 15%;
  transition: 0.7s ease;
  transform: rotate(-135deg);
  background-color: #1A1A1A;
}
.active-bx::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  top: 50%;
  left: 15%;
  transform: rotate(-405deg);
  transition: 0.7s ease;
  background-color: #1A1A1A;
}

.menu-mobile {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #CEC1B8;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 1s ease;
  transform: translate3d(0, -100px, 0);
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}

.nav-list-mobile {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.nav-list-mobile svg {
  width: 36px;
  height: 36px;
}
.nav-list-mobile svg path {
  stroke: #999999;
  transition: 0.7s ease;
}
.nav-list-mobile svg:hover path {
  stroke: #7FB4DA;
}

.nav-link-mobile {
  display: inline-block;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 36px;
  line-height: 100%;
  color: #1A1A1A;
  padding: 16px 24px;
  position: relative;
}
.nav-link-mobile::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 16px;
  width: 0%;
  height: 2px;
  transition: 0.7s ease;
  background-color: #1A1A1A;
}
.nav-link-mobile:hover {
  color: #1A1A1A;
}
.nav-link-mobile:hover::after {
  width: 100%;
}/*# sourceMappingURL=style.css.map */