header {
  width: 100%;
  background-color: transparent;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: 0.5s ease;

  z-index: 800;
  height: 72px;

  position: fixed;
}

.active-header {
  background-color: $background;
  box-shadow: 0px 51px 180px rgba(104, 104, 104, 0.25),
    0px 15.375px 24.1177px rgba(126, 125, 125, 0.25),
    0px 6.38599px 10.0172px rgba(78, 78, 78, 0.25),
    0px 2.30969px 3.62304px rgba(138, 138, 138, 0.25);
  height: 80px;
}


//Desktop
.navbar-desktop {
  max-width: $container-xl;
  margin: 0 auto;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive(s) {
    display: none;
  }

  @include responsive(l) {
    max-width: $container-l;
    margin: 0 auto;
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  width: 70px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.navbar-desktop-item-1 {
  flex: 1 1 auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-desktop-item-2 {
  flex: 1 1 auto;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    &:hover {
      border-bottom: 2px solid $n9;
      transition: ease-in;
    }
  }
}

.menu-desktop {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include responsive(s) {
    display: none;
  }

  li {
    margin-left: 16px;
  }
}

.menu-item {
  position: relative;
}


.nav-link-desktop {
  display: inline-block;
  padding: 12px 16px;

  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    
    top: 42%;
    right: -3px;

    border-bottom: 2px solid $primary;
    border-right: 2px solid $primary;
    border-radius: 1px;

    transition: .2s linear;
    transform: rotate(45deg);
  }

  &:hover {
    &::after {
      top: 45%
    }
  }
}

.dropdown-menu {
  background-color: $p1;
  border-radius: 16px;

  box-shadow: 0px 38px 15px rgba(55, 28, 64, 0.01), 
  0px 21px 13px rgba(55, 28, 64, 0.05), 
  0px 10px 9px rgba(55, 28, 64, 0.09), 
  0px 2px 5px rgba(55, 28, 64, 0.1), 
  0px 0px 0px rgba(55, 28, 64, 0.1);

  list-style: none;
  position: absolute;
  top: 48px;
  left: 24px;
  padding: 16px 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  transition: .7s ease;


  opacity: 0;
  pointer-events: none;

  .dropdown-item {
    width: 100%;
  }
}

.active-dropdown-menu {
  pointer-events: all;
  opacity: 1;
}

.nav-link-dropdown {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;

  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 90%;
    left: 0;
    transition: .5s ease;
    width: 0%;
    height: 2px;
    background-color: $p4;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }


}


//Moblie
.navbar-mobile {
  max-width: $container-xl;
  margin: 0 auto;
  padding: 10px 24px;

  display: none;

  @include responsive(s) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.bx {
  width: 36px;
  height: 36px;

  position: relative;
  cursor: pointer;
  z-index: 800;
  transition: .7s ease;

  background-color: transparent;

  &::after {
    content: '';
    position: absolute;

    width: 70%;
    height: 2px;

    top: 40%;
    left: 15%;

    background-color: $n9;
  }

  &::before {
    content: '';
    position: absolute;

    width: 70%;
    height: 2px;

    top: 60%;
    left: 15%;

    background-color: $n9;
  }
}

.active-bx {
  width: 36px;
  height: 36px;

  position: relative;
  cursor: pointer;
  z-index: 800;
  transition: .7s ease;

  background-color: transparent;

  &::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;

    top: 50%;
    left: 15%;

    transition: .7s ease;
    transform: rotate(-135deg);

    background-color: $n9;
  }

  &::before {
    content: '';
    position: absolute;

    width: 70%;
    height: 2px;

    top: 50%;
    left: 15%;

    transform: rotate(-405deg);
    transition: .7s ease;


    background-color: $n9;
  }
}

.menu-mobile {
  display: flex;
  width: 100%;
  height: 100vh;

  background-color: $background;

  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;

  transition: 1s ease;
  transform: translate3d(0, -100px, 0);
}

.active-menu-mobile {
  opacity: 1;
  pointer-events: all;
}

.nav-list-mobile {
  max-width: $container-xl;
  display: flex;
  flex-direction: column;
  
  list-style: none;

  svg {
    width: 36px;
    height: 36px;

    path {
      stroke: $n4;
      transition: .7s ease;
    }

    &:hover {
      path {
        stroke: $primary;
      }
    }
  }
}

.nav-link-mobile {
  display: inline-block;

  @include typeface-1(h3, desktop);
  color: $n9;

  padding: 16px 24px;

  position: relative;

  &::after {
    content: '';
    position: absolute;

    top: 90%;
    left: 16px;

    width: 0%;
    height: 2px;
    transition: .7s ease;

    background-color: $n9;

  }

  &:hover {
    color: $n9;
    
    &::after {
      width: 100%;
    }
  }
}